<div class="bg-white px-4 py-6 rounded-lg shadow-lg text-gray-800 leading-relaxed">
  <h1 class="text-3xl font-bold mb-4">Términos y condiciones</h1>
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">1. Introducción</h2>
    <p class="mb-4">Estos términos y condiciones escritos en esta página web regularán el uso de nuestro sitio web, www.oio.technology</p>
    <h2 class="text-3xl font-bold mb-4">2. Al usar nuestro sitio web, acepta plenamente estos términos y condiciones. Si no está de acuerdo con estos términos y condiciones o con cualquier parte de estos términos y condiciones, no debe usar nuestro sitio web.</h2>
    <h2 class="text-3xl font-bold mb-4">3. Debe tener al menos 18 años de edad para usar nuestro sitio web. Al usar nuestro sitio web y al aceptar estos términos y condiciones, garantiza y representa que tiene al menos 18 años de edad.</h2>
  </div>
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">4. Uso de nuestro sitio web</h2>
    <h3 class="text-lg font-bold mb-2">4.1 Puede usar nuestro sitio web para su propio uso personal o comercial y de acuerdo con estos términos y condiciones.</h3>
    <h3 class="text-lg font-bold mb-2">4.2 Está prohibido usar nuestro sitio web para cualquier propósito ilegal o inapropiado, incluyendo pero no limitado a:</h3>
    <ul class="list-disc pl-4 mb-4">
      <li>Publicar contenido falso o engañoso</li>
      <li>Acosar o amenazar a otros usuarios</li>
      <li>Publicar información personal o confidencial de otras personas</li>
      <li>Participar en cualquier actividad fraudulenta o engañosa</li>
      </ul>
  </div>
    <div class="mb-4">
      <h2 class="text-3xl font-bold mb-4">5. Honradez y respeto</h2>
      <h3 class="text-lg font-bold mb-2">5.1 Acepta ser honesto y respetuoso en todas las interacciones en nuestro sitio web. Esto incluye ser veraz sobre los productos o servicios que ofrece o busca, y comportarse de manera respetuosa hacia otros usuarios.</h3>
      <h3 class="text-lg font-bold mb-2">5.2 Cualquier usuario que actúe de manera deshonesta o irrespetuosa puede ver suspendida o cancelada su cuenta a discreción de los administradores del sitio web.</h3>
    </div>
    <div class="mb-4">
      <h2 class="text-3xl font-bold mb-4">6. Su cuenta</h2>
      <h3 class="text-lg font-bold mb-2">6.1 Si usa nuestro sitio web, es responsable de mantener la confidencialidad de su cuenta y contraseña y de restringir el acceso a su computadora, y acepta asumir la responsabilidad de todas las actividades que se realicen bajo su cuenta o contraseña.</h3>
      <h3 class="text-lg font-bold mb-2">6.2 Debe tratar la información de su cuenta, incluyendo su contraseña, como confidencial en todo momento y no revelarla a terceros.</h3>
      <h3 class="text-lg font-bold mb-2">6.3 Si cree que su cuenta ha sido comprometida, debe cambiar inmediatamente su contraseña y notificar a los administradores del sitio web.</h3>     
  </div>
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">7. Contenido del usuario</h2>
    <h3 class="text-lg font-bold mb-2">7.1 En estos términos y condiciones, "su contenido del usuario" se refiere a material (incluyendo sin limitación texto, imágenes, material de audio, material de video y material audiovisual) que envía a nuestro sitio web, por cualquier propósito.</h3>
    <h3 class="text-lg font-bold mb-2">7.2 Nos concede una licencia mundial, irrevocable, no exclusiva, libre de regalías para usar, reproducir, adaptar, publicar, traducir y distribuir su contenido del usuario en cualquier medio existente o futuro. También nos concede el derecho a sublicenciar estos derechos y el derecho a iniciar una acción por infracción de estos derechos.</h3>
    <h3 class="text-lg font-bold mb-2">7.3 Su contenido del usuario no debe ser ilegal, no debe infringir a ninguna persona, no debe ser obsceno, ofensivo, odioso o inflamatorio y no debe promover la violencia ni la discriminación basada en raza, género, religión, nacionalidad, discapacidad, orientación sexual o edad.</h3>
<h3 class="text-lg font-bold mb-2">7.4 No debe utilizar nuestro sitio web para transmitir o enviar comunicaciones comerciales no solicitadas.</h3>
<h3 class="text-lg font-bold mb-2">7.5 No debe utilizar nuestro sitio web para transmitir intencionalmente cualquier dato, enviar o cargar cualquier material que contenga virus, caballos de Troya, gusanos, temporizadores, registradores de pulsaciones, espías, programas publicitarios o cualquier otro programa dañino o código de ordenador similar diseñado para interrumpir, dañar, interceptar o apropiarse de cualquier sistema, datos o información personal.</h3>

  </div>
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">8. Exclusión de garantías</h2>
    <h3 class="text-lg font-bold mb-2">8.1 Nuestro sitio web se proporciona en el estado en el que se encuentra y, a menos que se indique lo contrario en estos términos y condiciones, excluimos todas las representaciones y garantías relacionadas con nuestro sitio web y su contenido.</h3>
    <h3 class="text-lg font-bold mb-2">8.2 No garantizamos que nuestro sitio web sea seguro o esté libre de errores.</h3>
    <h3 class="text-lg font-bold mb-2">8.3 No garantizamos que nuestro sitio web o cualquier contenido sea siempre disponible o ininterrumpido.</h3>
  </div>
  <div classas="mb-4">
<h2 class="text-3xl font-bold mb-4">9. Responsabilidad limitada</h2>
<h3 class="text-lg font-bold mb-2">9.1 En la medida máxima permitida por la ley, no seremos responsables de ningún daño o pérdida indirecta o consecuencial, o cualquier pérdida de beneficios, pérdida de oportunidades de negocio, pérdida de reputación, pérdida de datos o cualquier otra pérdida financiera, incurrida por usted o cualquier tercero como resultado del uso de nuestro sitio web.</h3>
<h3 class="text-lg font-bold mb-2">9.2 Nuestra responsabilidad total hacia usted por todos los daños, pérdidas y causas de acción (ya sea por contrato, agravio (incluyendo negligencia), incumplimiento de responsabilidades estatutarias o de otra manera) será limitada a la cantidad total que hayamos recibido de usted en relación con su uso de nuestro sitio web.</h3>

  </div>
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">10. Indemnización</h2>
    <h3 class="text-lg font-bold mb-2">10.1 Acepta indemnizar y eximir de responsabilidad a nuestra empresa (y a nuestros empleados, directores, agentes y socios) de cualquier demanda, pérdida, daño, responsabilidad, costos y gastos (incluyendo honorarios legales) incurridos por nuestra empresa como resultado de cualquier violación de estos términos y condiciones por parte suya.</h3>
  </div>
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">11. Violaciones de estos términos y condiciones</h2>
    <h3 class="text-lg font-bold mb-2">11.1 Si incurre en violaciones de estos términos y condiciones, podemos tomar cualquiera de las siguientes acciones:</h3>
    <ul class="list-disc pl-4 mb-4">
      <li>Advertirle de la violación</li>
      <li>Suspender su acceso a nuestro sitio web</li>
      <li>Cancelar su cuenta</li>
      <li>Iniciar acciones legales en contra suya</li>
    </ul>
    <h3 class="text-lg font-bold mb-2">11.2 En caso de violaciones graves, podemos tomar cualquiera de las acciones mencionadas anteriormente sin previo aviso.</h3>

  </div>
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">12. Variaciones</h2>
    <h3 class="text-lg font-bold mb-2">12.1 Podemos revisar estos términos y condiciones de vez en cuando y publicar las revisiones en esta página web. Debe revisar esta página web regularmente para asegurarse de estar al tanto de cualquier cambio.</h3>
  </div>
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">13. Asignación</h2>
    <h3 class="text-lg font-bold mb-2">13.1 Podemos transferir, subcontratar o de otra manera asignar nuestros derechos y obligaciones bajo estos términos y condiciones sin notificarle y sin su consentimiento.</h3>
    <h3 class="text-lg font-bold mb-2">13.2 Usted no puede transferir, subcontratar o de otra manera asignar sus derechos y obligaciones bajo estos términos y condiciones sin nuestro consentimiento previo por escrito.</h3>
  </div>
  <div class="mb-4">
    <h2 class="text-xl font-boldmb-2">14. Excusión de responsabilidad</h2>
<h3 class="text-lg font-bold mb-2">14.1 Si alguna disposición de estos términos y condiciones se considera inválida o inaplicable por cualquier razón, esa disposición se excluirá y no afectará la validez y aplicabilidad de las demás disposiciones.</h3>

  </div>
  <div class="mb-4">
    <h2 class="text-3xl font-bold mb-4">15. Ley aplicable y jurisdicción</h2>
    <h3 class="text-lg font-bold mb-2">15.1 Estos términos y condiciones se regirán e interpretarán de acuerdo con la ley de Costa Rica, y cualquier disputa surgida de o en relación con estos términos y condiciones estará sujeta a la jurisdicción exclusiva de los tribunales de Costa Rica.</h3>
  </div>
</div>
