
      <main class="pt-20 -mt-2">
        <div class="mx-auto p-2">
          <!-- row -->
          <div class="flex flex-wrap flex-row">
                                             
            <div class="flex-shrink max-w-full px-4 w-full mb-6">
              <div class="p-4 xl:p-12 bg-white bg-gray-800 rounded-lg shadow-lg h-full">
                <div class="relative xl:px-16">
                	<header class="text-center mx-auto mb-16">
						<h1 class="text-2xl leading-normal mb-2 font-bold text-lime-600"><span class="font-light"></span>Hola, gracias por estar aquí</h1>
						<hr class="block w-12 h-0.5 mx-auto my-5 bg-blue-500 border-blue-500">
						<p class="text-lime-500 leading-relaxed font-light text-xl mx-auto pb-2">En OIO Tech nuestra misión es brindarle las herramientras que le ayuden en su diario vivir</p>
						<p class="text-lime-500 leading-relaxed font-light text-xl mx-auto pb-2">Seleccione la herramienta que necesite utilizar</p>
			   		</header>
                  <div class="flex flex-wrap flex-row -mx-4 justify-center">
				            <div class="flex-shrink max-w-full w-full sm:w-11/12 lg:w-1/2 px-4 hover:text-gray-800 text-lime-200">
				              <div class="px-6 md:px-2 lg:px-4">
				                <!-- pricing -->
				                <div class="relative py-16 px-12 mb-12 lg:-mt-6 bg-white hover:bg-sky-100 bg-gray-900 bg-opacity-40 transform transition duration-300 ease-in-out hover:-translate-y-1 shadow-lg text-center rounded-lg">

				                  <!-- pricing title -->
				                  <h3 class="text-2xl mb-4 font-semibold uppercase">Compra y Venta</h3>

				                  <!-- pricing content -->
				                  <ul class="space-y-6 mt-4 mb-12">
				                    <li>Precios fijos</li>
				                  </ul>
				                  <!-- Pricing Button -->
				                  <div class="py-2">
							  	   <%= link_to "Entrar", products_path, class:"py-2 px-4 -ml-1 rounded leading-5 text-gray-100 bg-blue-500 border border-blue-500 hover:text-white hover:bg-blue-600 hover:ring-0 hover:border-blue-600 focus:bg-blue-600 focus:border-blue-600 focus:outline-none focus:ring-0" %>
				                  </div>
				                </div><!-- end pricing -->
				              </div>
				            </div>

				            <div class="flex-shrink max-w-full w-full sm:w-11/12 lg:w-1/2 px-4 hover:text-gray-800 text-lime-200">
				              <div class="px-6 md:px-2 lg:px-4">
				                <!-- pricing -->
				                <div class="relative py-16 px-12 mb-12 lg:-mt-6 bg-white hover:bg-sky-100 bg-gray-900 bg-opacity-40 transform transition duration-300 ease-in-out hover:-translate-y-1 shadow-lg text-center rounded-lg">

				                  <!-- pricing title -->
				                  <h3 class="text-2xl mb-4 font-semibold uppercase">Subastas</h3>

				                  <!-- pricing content -->
				                  <ul class="space-y-6 mt-4 mb-12">
				                    <li>¿Quien da más?</li>
				                  </ul>
				                  <!-- Pricing Button -->
				                  <div class="py-2">
									<%= link_to "Entrar", auctions_path, class:"py-2 px-4 -ml-1 rounded leading-5 text-gray-100 bg-blue-500 border border-blue-500 hover:text-white hover:bg-blue-600 hover:ring-0 hover:border-blue-600 focus:bg-blue-600 focus:border-blue-600 focus:outline-none focus:ring-0" %>				                  </div>
				                </div><!-- end pricing -->
				              </div>
				            </div>

<div class="flex-shrink max-w-full w-full sm:w-11/12 lg:w-1/2 px-4 hover:text-gray-800 text-lime-200">
	<div class="px-6 md:px-2 lg:px-4">
	<!-- pricing -->
	<div class="relative py-16 px-12 mb-12 lg:-mt-6 bg-white hover:bg-sky-100 bg-gray-900 bg-opacity-40 transform transition duration-300 ease-in-out hover:-translate-y-1 shadow-lg text-center rounded-lg">

		<!-- pricing title -->
		<h3 class="text-2xl mb-4 font-semibold uppercase">Servicios</h3>

		<!-- pricing content -->
		<ul class="space-y-6 mt-4 mb-12">
		<li>Todo lo que necesite, cuando lo necesite</li>
		</ul>
		<!-- Pricing Button -->
		<div class="py-2">
		<%= link_to "Entrar", bookings_path, class:"py-2 px-4 -ml-1 rounded leading-5 text-gray-100 bg-blue-500 border border-blue-500 hover:text-white hover:bg-blue-600 hover:ring-0 hover:border-blue-600 focus:bg-blue-600 focus:border-blue-600 focus:outline-none focus:ring-0" %>				                  </div>
	</div><!-- end pricing -->
	</div>
</div>

<div class="flex-shrink max-w-full w-full sm:w-11/12 lg:w-1/2 px-4 hover:text-gray-800 text-lime-200">
	<div class="px-6 md:px-2 lg:px-4">
	<!-- pricing -->
	<div class="relative py-16 px-12 mb-12 lg:-mt-6 bg-white hover:bg-sky-100 bg-gray-900 bg-opacity-40 transform transition duration-300 ease-in-out hover:-translate-y-1 shadow-lg text-center rounded-lg">

		<!-- pricing title -->
		<h3 class="text-2xl mb-4 font-semibold uppercase">Entretenimiento</h3>

		<!-- pricing content -->
		<ul class="space-y-6 mt-4 mb-12">
		<li>Eventos, contenido, etc</li>
		</ul>
		<!-- Pricing Button -->
		<div class="py-2">
		<%= link_to "Entrar", shows_path, class:"py-2 px-4 -ml-1 rounded leading-5 text-gray-100 bg-blue-500 border border-blue-500 hover:text-white hover:bg-blue-600 hover:ring-0 hover:border-blue-600 focus:bg-blue-600 focus:border-blue-600 focus:outline-none focus:ring-0" %>				                  </div>
		</div>
	</div><!-- end pricing -->
	</div>
</div>

				            <div class="flex-shrink max-w-full w-full px-4">
				              <p class="text-center font-small mb-0">
				                <a class="text-gray-500" rel="noopener" href="#" target="_blank">
				                  <svg xmlns="http://www.w3.org/2000/svg" class="inline ltr:mr-2 rtl:ml-2" fill="currentColor" width="1rem" height="1rem" viewBox="0 0 640 512"><path d="M256 336h-.02c0-16.18 1.34-8.73-85.05-181.51-17.65-35.29-68.19-35.36-85.87 0C-2.06 328.75.02 320.33.02 336H0c0 44.18 57.31 80 128 80s128-35.82 128-80zM128 176l72 144H56l72-144zm511.98 160c0-16.18 1.34-8.73-85.05-181.51-17.65-35.29-68.19-35.36-85.87 0-87.12 174.26-85.04 165.84-85.04 181.51H384c0 44.18 57.31 80 128 80s128-35.82 128-80h-.02zM440 320l72-144 72 144H440zm88 128H352V153.25c23.51-10.29 41.16-31.48 46.39-57.25H528c8.84 0 16-7.16 16-16V48c0-8.84-7.16-16-16-16H383.64C369.04 12.68 346.09 0 320 0s-49.04 12.68-63.64 32H112c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h129.61c5.23 25.76 22.87 46.96 46.39 57.25V448H112c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h416c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
				                  OIO Tech
				                </a>
				              </p>
				            </div>
				          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>